* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#container {
  background-color: black;
  color: white;
}

section {
  justify-content: center;
  max-width: 1700px;
  margin: auto;
}

.destaque {
  display: flex;
}
.destaque .text-destaque {
  padding: 10px;
}

.title-h2 {
  font-size: 2.5em;
  padding: 20px 0px;
  max-width: 700px;
}

.text {
  color: #BDC2CB;
  line-height: 1.5em;
  padding: 10px;
}

#header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 70px;
  max-width: 1700px;
  margin: auto;
}
#header #logo {
  height: 45px;
}
#header .disponiveis {
  display: inline-block;
  border: solid 1.5px white;
  font-weight: bold;
  padding: 3px 6px;
  margin: 3px;
}

@media screen and (min-width: 1300px) {
  #header #logo {
    height: 55px;
  }
}
@media screen and (max-width: 700px) {
  #icon-sony {
    display: none;
  }
}
#main #introducao {
  font-size: 1.2em;
  background: black url(../img/bg-hero.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 20px 5px;
  min-height: 90.05vh;
}
#main #introducao #esquerda {
  display: flex;
  flex-direction: column;
  padding: 30px 5px;
  width: 67%;
  height: 100%;
}
#main #introducao #esquerda #title {
  font-size: 5em;
  padding: 10px 0px;
}
#main #introducao #esquerda #comprar {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 20px 0px;
  height: 50px;
  width: 500px;
}
#main #introducao #esquerda #spanComprar {
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  padding: 15px;
  width: 40%;
}
#main #introducao #esquerda #buttonComprar {
  background-color: #3265EA;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
  border: none;
  height: 50px;
  width: 60%;
}
#main #introducao #direita {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#main #introducao #direita #gif {
  background: url(../img/gif-thor.gif) center center no-repeat;
  background-size: 100% 100%;
  position: relative;
  border: solid 3px blue;
  border-radius: 4px;
  margin: 10px 0px;
  width: 350px;
  height: 200px;
}
#main #introducao #direita #gif #play {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
#main #introducao #direita #faixa-etaria {
  display: flex;
  margin-top: 25px;
}
#main #introducao #direita #faixa-etaria #faixa-etaria {
  width: 37px;
}
#main #introducao #direita #faixa-etaria #text-faixa-etaria {
  display: inline;
  font-size: 0.8em;
}
#main #div-icones {
  background-color: rgb(0, 0, 0);
  color: #BDC2CB;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  padding: 10px;
  height: 37vh;
}
#main #div-icones div {
  margin: auto;
  width: 75%;
}
#main #jornada {
  font-size: 1.2em;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 40px 20px;
  min-height: 100vh;
}
#main #jornada .destaque {
  justify-content: center;
}
#main #jornada .title-h2 {
  margin: auto;
  max-width: 900px;
}
#main #jornada #santa-Monica {
  color: #BDC2CB;
  display: flex;
  gap: 10px;
  font-size: 0.9em;
  text-align: left;
  margin: 50px auto 0px auto;
  max-width: 570px;
}
#main #jornada #santa-Monica * {
  display: flex;
  gap: 15px;
  align-items: center;
}
#main #jornada #kratosAtheus {
  height: 600px;
  margin: auto;
}
#main #personagens {
  background: black url(../img/bg-characters.png) center center repeat;
  background-size: cover;
  color: white;
  font-size: 1.2em;
}
#main #personagens #aventura {
  display: flex;
  padding: 20px;
  min-height: 100vh;
}
#main #personagens #aventura #esquerda {
  width: 55%;
}
#main #personagens #aventura #direita {
  display: flex;
}
#main #personagens #aventura #direita #machado {
  height: 450px;
}
#main #personagens #aventura #direita #logo-detalhe {
  width: 150px;
}

@media screen and (min-width: 1300px) {
  #main #introducao {
    font-size: 1.3em;
  }
  #main #introducao #direita #gif {
    width: 430px;
    height: 250px;
  }
  #main #jornada {
    display: flex;
    align-items: center;
    min-height: auto;
  }
  #main #jornada #kratosAtheus {
    height: 500px;
  }
}
@media screen and (max-width: 1100px) {
  main #detalhe-de-lancamento {
    display: none;
  }
}
@media screen and (max-width: 970px) {
  #main #introducao {
    display: block;
    text-align: center;
    padding: 20px 10px;
  }
  #main #introducao #esquerda {
    width: 100%;
    display: block;
    margin: auto;
  }
  #main #introducao #esquerda .destaque {
    display: block;
  }
  #main #introducao #esquerda .destaque p {
    display: inline;
  }
  #main #introducao #esquerda #comprar {
    font-size: 0.8em;
    width: 400px;
    margin: 20px auto;
  }
  #main #introducao #direita {
    text-align: center;
    display: block;
  }
  #main #introducao #direita #gif {
    margin: 20px auto;
  }
  #main #introducao #direita #faixa-etaria {
    display: block;
  }
  #main #introducao #direita #faixa-etaria #text-faixa-etaria {
    display: block;
    font-size: 0.9em;
    margin: auto;
    width: 250px;
  }
  #main #jornada #kratosAtheus {
    height: 400px;
  }
  #main #personagens {
    padding: 30px 0px;
    text-align: center;
  }
  #main #personagens #aventura {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #main #personagens #aventura #esquerda {
    width: 100%;
  }
  #main #personagens #aventura #esquerda .title-h2 {
    min-width: 100%;
  }
  #main #personagens #aventura #esquerda .destaque {
    display: block;
    width: 100%;
  }
  #main #personagens #aventura #esquerda .destaque P {
    display: inline;
  }
  #main #personagens #aventura #direita {
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  #main .title-h2 {
    font-size: 2em;
  }
}
@media screen and (max-width: 550px) {
  #main {
    font-size: 0.9em;
  }
  #main #introducao #esquerda #title {
    font-size: 4em;
  }
  #main #introducao #esquerda #comprar {
    background-color: transparent;
    display: block;
    margin: 20px 0px 50px 0px;
    font-size: 1.1em;
    width: 100%;
  }
  #main #introducao #esquerda #spanComprar {
    background-color: rgb(255, 255, 255);
    width: 97%;
  }
  #main #introducao #esquerda #buttonComprar {
    width: 97%;
  }
  #main #introducao #direita #gif {
    width: 270px;
    height: 170px;
  }
  #main #div-icones {
    grid-template-columns: 1fr 1fr;
  }
  #main #jornada {
    padding: 30px 0px;
  }
  #main #jornada #kratosAtheus {
    width: 100%;
  }
  #main #machado {
    width: 100%;
  }
  #main .title-h2 {
    font-size: 1.7em;
  }
  #main #santa-Monica {
    font-size: 0.8em;
    padding: 5px;
  }
  #main #santa-Monica #monica-studio {
    margin-top: 10px;
    width: 150px;
    height: 45px;
  }
}
@media screen and (max-width: 450px) {
  #main #introducao #esquerda #title {
    font-size: 3.3em;
  }
}

/*# sourceMappingURL=style.css.map */
