#header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70px;
    max-width: 1700px;
    margin: auto;

    #logo {
        height: 45px;
    }

    .disponiveis {
        display: inline-block;
        border: solid 1.5px white;
        font-weight: bold;
        padding: 3px 6px;
        margin: 3px;
    }
}

@media screen and (min-width: 1300px) {
    #header {
        #logo {
            height: 55px;
        }
    }
}

@media screen and (max-width: 700px) {
    #icon-sony {
        display: none;
    }
}