
// ===== Mais de 1100px ===== //
@media screen and (max-width: 1100px) {
    main {
        #detalhe-de-lancamento {
            display: none;
        }
    }
}



// ===== Menos de 970px ===== //
@media screen and (max-width: 970px) {
    #main {

        #introducao {
            display: block;
            text-align: center;
            padding: 20px 10px;

            #esquerda {
                width: 100%;
                display: block;
                margin: auto;

                .destaque {
                    display: block;
                    p {
                        display: inline;
                    }
                }
                #comprar {
                    font-size: .8em;
                    width: 400px;
                    margin: 20px auto;
                }
            }

            #direita {
                text-align: center;
                display: block;

                #gif {
                    margin: 20px auto;
                }

                #faixa-etaria {
                    display: block;

                    #text-faixa-etaria {
                        display: block;
                        font-size: .9em;
                        margin: auto;
                        width: 250px;
                    }
                }
            }
        }


        #jornada {
            #kratosAtheus {
                height: 400px;
            }
        }



        #personagens {
            padding: 30px 0px;
            text-align: center;

            #aventura {
                flex-direction: column;
                align-items: center;
                text-align: center;

                #esquerda  {
                    width: 100%;

                    .title-h2 {
                        min-width: 100%;
                    }

                    .destaque {
                        display: block;
                        width: 100%;
                        
                        P {
                            display: inline;
                        }
                    }
                }

                #direita {
                    margin: auto;
                }
            }
        }
    }
}



// ===== Menos de 700px ===== //
@media screen and (max-width: 700px) {
    #main {
        .title-h2 {
            font-size: 2em;
        }
    } 
}


// ===== Menos de 550px ===== //
@media screen and (max-width: 550px) {
    #main {
        font-size: .9em;
        #introducao {
            #esquerda {
                #title {
                    font-size: 4em;
                }

                #comprar {
                    background-color: transparent;
                    display: block;
                    margin: 20px 0px 50px 0px;
                    font-size: 1.1em;
                    width: 100%;
                }
                #spanComprar {
                    background-color: rgb(255, 255, 255);
                    width: 97%;
                }
                #buttonComprar {
                    width: 97%;
                }
            }

            #direita {
                #gif {
                    width: 270px;
                    height: 170px;
                }
            }
        }

        #div-icones {
            grid-template-columns: 1fr 1fr;
        }

        #jornada {
            padding: 30px 0px;
            #kratosAtheus {
                width: 100%;
            }
        }

        #machado {
            width: 100%;
        }

        .title-h2 {
            font-size: 1.7em;
        } 

        #santa-Monica {
            font-size: .8em;
            padding: 5px;

            #monica-studio {
                margin-top: 10px;
                width: 150px;
                height: 45px;
            }
        }
    }
}



// ===== Menos de 450px ===== //
@media screen and (max-width: 450px) {
    #main {
        #introducao {
            #esquerda {
                #title {
                    font-size: 3.3em;
                }
            }
        }
    }
}