
@media screen and (min-width: 1300px) {
    #main {
        #introducao {
            font-size: 1.3em;

            #direita {
                #gif {
                    width: 430px;
                    height: 250px;
                }
            }
        }

        #jornada {
            display: flex;
            align-items: center;
            min-height: auto;

            #kratosAtheus {
                height: 500px;
            }
        }
    }
}
