main {
    #div-icones {
        background-color: rgb(0, 0, 0);
        color: #BDC2CB;
        font-weight: 600;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        padding: 10px;
        height: 37vh;

        div {
            margin: auto;
            width: 75%;
        }
    }
}